<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="filipe.rehder.movies">

    <application>
        <activity android:name="filipe.rehder.detail.presentation.DetailActivity"/>
        <activity android:name="filipe.rehder.list.presentation.MovieListActivity" />
    </application>

</manifest>